div{
    height: 100px;
    width: 300px;
    float: right;
}

.div-1{
    padding: 30px;
    border: 7px solid gray;
    margin: 50px;
    background-color: yellow;
}

.div-2{
    padding-left: 3px;
    padding-right: 4px;
    border-left: 2px solid gray;
    border-right: 5px solid blue;
    margin-left: 1px;
    margin-right: 6px;
    margin-top: 2px;
    background-color: lightgreen;
    float: left;
}

.div-3{
    padding: 30px 15px 30px 15px;
    border-top: 20px solid darkblue;
    border-right: 15px solid darkblue;
    border-bottom: 20px solid darkblue;
    border-left: 15px solid darkblue;
    margin: 35px 20px;
    background-color: magenta;
}